* {
    font-family: "Jost*", sans-serif;
}

.inputbar {
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px #eeeeee;
    /*width: 300px;*/
    /*min-width: 300px;*/
}

.sidebar {
    min-width: 320px;
    /*width: 320px;*/
    /*border-radius: 5px;*/
    margin: 10px 10px 10px 10px;
    /*border: none;*/
}

.sidebar-view {
    background: transparent;
    border: 0;
}

.sidebar_label {
    /*font-weight: bolder;*/

}

.main-box {

}

.sidebar_content {

}

.preview {
    margin: 20px 20px 20px 20px;
    background: none;
}

.round-box {
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: solid 1px #ccc;
    color: #fff;
}

.info-label {
    font-size: 12px;
}

.font32 {
    font-size: 32px;
}

.font16 {
    font-size: 16px;
}

.border5 {
    border-radius: 5px;
}

.margin15 {
    margin: 15px 15px 15px 15px;
}

.padding15 {
    padding: 15px 15px 15px 15px;
}

.centercld {
}

.border_debug {
    border: solid 1px #aa0000;
}

.logo-font {
    font-size: 32px;
    font-style: italic;
    font-weight: 900;
    font-family: "Alegyera", serif;
}

.webview {

}

.horizontal-separator {
    margin-top: 10px;
    margin-bottom: 10px;
}
