* {
    font-family: "Lexend", "Jost*", sans-serif;
}

.inputbar {
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px #eeeeee;
}

.sidebar {
    min-width: 360px;
    margin: 10px 10px 10px 10px;
}

.sidebar-view {
    background: transparent;
    border: 0;
}

.sidebar-label {
    margin-right: 10px;
}

.sidebar-extra {
    font-style: italic;
    color: #606060;
}

.preview {
    margin: 5px 5px 5px 5px;
    background: none;
}

.round-box {
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: solid 1px #ccc;
    color: #fff;
}

.info-label {
    font-size: 12px;
}

.preview-big-font {
    font-size: 32px;
}

.preview-little-font {
    font-size: 16px;
}

.logo-font {
    font-size: 32px;
    font-style: italic;
    font-weight: 900;
    font-family: "Alegyera", serif;
}

.horizontal-separator {
    margin-top: 0px;
    margin-bottom: 10px;
}
