.inputbar {
    margin: 20px 20px;
    border: solid 1px #eeeeee;
    background: none;
}

.sidebar {
    min-width: 300px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    border: solid 1px #dedede;
}

.sidebar_view {
    border-radius: 5px;
}

.preview {
    margin: 10px 10px 10px 10px;
    background: none;
}

.font32 {
    font-size: 32px;
}

.font16 {
    font-size: 16px;
}

.border5 {
    border-radius: 5px;
}

margin15 {
    margin: 15px 15px 15px 15px;
}

padding15 {
    padding: 15px 15px 15px 15px;
}

.centercld {
  align-items: center;
}

.border_debug {
   border: solid 1px #aa0000;
}